@font-face {
    font-family: 'Cunia';
    src: url('../assets/fonts/Cunia.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../assets/fonts/Gilroy-Light.otf') format('truetype');
}

:root {
    --fuente: 'Roboto', sans-serif;
}

html * {
    box-sizing: border-box;
    font-family: var(--fuente);
    margin: 0;
    padding: 0;
}

html {
    overflow: auto;
}

body {
    overflow-wrap: break-word;
    font-size: calc(4vw + 4vh + 2vmin);
    box-sizing: border-box;
    background-color: #0B192F;
    overflow: auto;
}

.app-container {
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header header" "main main" "footer footer";
    grid-template-rows: 4.4rem 1fr 6rem;
    box-sizing: border-box;
}

@media (min-width: 480px) {
    body {
      /* Estilos para pantallas más grandes (a partir de 480px) */
      background-color: green;
    }
  }
  
  @media (min-width: 768px) {
    body {
      /* Estilos para pantallas medianas (a partir de 768px) */
      background-color: orange;
    }
  }
  
  @media (min-width: 1024px) {
    body {
      /* Estilos para pantallas grandes (a partir de 1024px) */
      background-color: yellow;
    }
  }
  
  @media (min-width: 1280px) {
    body {
      /* Estilos para pantallas extra grandes (a partir de 1280px) */
      background-color: red;
    }
  }